*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    scroll-behavior: smooth;
}
:root{
    --maincolorwhite: #fff;
    --coloraliceblue: aliceblue;
    --colorgray: gray;
    --colorcode80: #808080;
    --colorcodef8: #f8f8f8;
    --colorblack: #000;
    --colorcode43: #4300da;
    --colorRed: red;
    --colorcode00ff: #0000ff;
    --colorcodede5: #de5e08;
    --colorgrey: grey;
    --colorblue: blue;

}

/* ################################ Header-css ################################ */

.container1{
    max-width: 1400px;
    margin: auto;
}
.sub-div{
    display: flex;
    justify-content: space-between;
    /* width: 90%; */
    font-size: 14px;
    /* margin: auto; */
    padding: 10px 0px;
}
.logo h1{
    font-weight: 600;
}
.header-login i{
    color: var(--coloraliceblue);
}
.header-login-txt{
    color: var(--maincolorwhite);
}
.sub-div1{
    display: none;
}
.nav-ul{
    display: flex;
    list-style-type: none ;
}
a{
    text-decoration: none;
    color: var(--colorgray);
}
.nav-ul .list-item{
    padding: 0px 5px;
}
.selected{
    outline: none;
    border: none;
    background-color: transparent;
    color: var(--colorcode80);
    cursor: pointer;
}
.menus{
    display: flex;
    align-items: baseline;
}
i{
    font-size: 12px;
    color: var(--colorcode80);
    padding: 0px 5px;
}
.icons2{
    flex-direction: column;
}
.icons2 i{
    color: var(--maincolorwhite);
}

/* ############################################ Logo-Section #################### */


.logo-section1{
    background-color: var(--colorcodef8);
}

.sub-logo{
    display: flex;
    justify-content: space-between;
    /* width: 90%;
    margin: auto; */
    padding: 30px 0px;
}
.sub-logo-section{
    display: flex;
    width: 80%;
    margin-left: 10%;
    justify-content: space-between;
}
.sub-logo-section1{
    display: flex;
    width: 50%;
    justify-content: space-between;
}
.sub-logo-section1{
    display: none;
}
.logo-icons i{
    font-size: 30px;
    color: var(--colorblack);
}
.logo-icons1 i{
    font-size: 30px;
    color: var(--colorblack);
}

.logo{
    font-size: 22px;
}
.user-info{
    display: flex;
}

.user{
    padding: 0px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-main{
    display: inline-table;
    width: 40%;
}
h5{
    font-size: 13px;
}

.search-main input{
    width: 70%;
    padding: 5px 0px;
    border: none;
    outline: none;
}

.all{
    padding: 8px;
    background: var(--colorcode43);
    color: var(--coloraliceblue);
    outline: none;
    border: none;
}
.search-main i{
    font-size: 16px;
    padding: 9px;
}

.user-info i{
    font-size: 20px;
    font-size: 23px;
    padding: 5px;
    border-radius: 50%;
}

.delivery-txt{
    display: flex;
    align-items: baseline;
}

.delivery-txt i{
    font-size: 25px;
    background: var(--colorcode43);
    color: var(--maincolorwhite);
    padding: 10px;
}
.item{
    padding: 0px 10px;
    border-right: 1px solid var(--colorgray);
    border-bottom: 1px solid var(--colorgray);
}
/* ########################### Detail section ######################## */

.sub-detail-section{
    display: flex;
    justify-content: space-between;
    /* width: 90%;
    margin: auto; */
    height: 50px;
}

.sub-detail-section1{
    display: flex;
}
.sub-detail-section1-padd{
    padding: 0px 8px;
}
.sub-detail-section2{
    display: flex;
}
.sub-detail-section2-padd{
    padding: 0px 20px;
}
.detail-section1{
    background-color: var(--colorcode43);
    color: var(--coloraliceblue);
}

.all-department, .blog{
    padding: 15px;
    color: var(--colorblack);
    background-color: yellow;
}

.multilevel,.megamenu,.fullwidth,.contact{
    padding: 15px;
}

.sub-detail-section1 i{
    font-size: 16px;
    color: var(--colorblack);
}

.fa-phone-volume{
    color: var(--coloraliceblue);
    font-size: 16px;
}

.fa-message{
    font-size: 16px;
    color: var(--colorblack);
}
.all-department{
    position: relative;
    width: 250px;
}

.all-departments-class{
    position: absolute;
    font-size: 12px;
    top: -8px;
    right: 5px;
    color: var(--coloraliceblue);
    background: var(--colorRed);
    padding: 0px 5px;
}

.megamenu{
    position: relative;
}

.megamenu span{
    position: absolute;
    font-size: 12px;
    top: -8px;
    right: 5px;
    color: var(--colorblack);
    background: yellow;
    padding: 0px 5px;
}

/* ######################### Home-search section ###################### */

.home-search-icons{
    display: flex;
}
.search-elements{
    background-color: var(--colorcodef8);
}
.search-color{
    color: var(--colorcode00ff);
}

.home-search-icon i{
    color: var(--colorcode80)
}

.icon-search{
    font-size: 14px;
}
.search-filter{
    border-right: 1px solid var(--colorcode80);
}
/* ##################### Range-slider ######################### */
.range-slider {
    height: 5px;
    position: relative;
    background-color: #e1e9f6;
    border-radius: 2px;
  }
  .range-selected {
    height: 100%;
    left: 30%;
    right: 30%;
    position: absolute;
    border-radius: 5px;
    background-color: #1b53c0;
  }
  .range-input {
    position: relative;
  }
  .range-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -7px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  .range-input input::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 3px solid #1b53c0;
    background-color: #fff;
    pointer-events: auto;
    -webkit-appearance: none;
  }
  .range-input input::-moz-range-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 3px solid #1b53c0;
    background-color: #fff;
    pointer-events: auto;
    -moz-appearance: none;
  }
  .range-price {
    margin: 30px 0;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
  }
  .range-price label {
    margin-right: 5px;
  }
  .range-price input {
    text-align: center;
    width: 30%;
    padding: 5px;
  }
  .range-price input:first-of-type {
    margin-right: 15px;
  }
  /* #################### Range-slider-end ######################### */
.sub-home-search{
    padding: 15px 0px;
}
.toggle-btn-icon{
    display: flex;
}
.search-element-txt{
    font-size: 30px;
    font-weight: 600;
}
.border-color{
    width: 100px;
    border-top: 1px solid orangered;
}
.searching-cover{
    margin: 25px 0px;
}
.price-range{
    margin: 15px 0px;
    padding: 15px 0px;
    border-bottom: 1px solid var(--colorcode80);
}

.border-colors{
    
    border-top: 1px solid var(--colorcode80 );
}
.search-elements hr{
    margin-top: 0px;
}
.search-filter{
    padding-left: 0px;
}
/* .category-search{
    border-bottom: 1px solid var(--colorcode80);
    padding: 20px 0px;
} */
.input-price{
    display: flex;
    /* justify-content: space-around; */
}
.input-1{
    margin-right: 35px;
}
.stock-checkbox1{
    display: flex;
}
.in-stock{
    margin-left: 10px;
}
.images-subcategories{
    display: flex;
    align-items: center;
}
.image-txt{
    margin-left: 10px;
}
.image-sub-category{
    height: 50px;
    width: 50px;

}
.images-brands{
    display: flex;
}
.image-sub-brands{
    height: 35px;
    width: 35px;
    margin: 5px;
}
.image-sub-brands img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.image-sub-category img{
    height: 100%;
    width: 100%;
}
.input-price input{
    width: 35%;
    text-align: center;
    /* border: none; */
}
.filter{
    font-weight: 600;
    border-bottom: 1px solid var(--colorcodede5);
}
.filters{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.fa-minus{
    display: none;
}
.category-searching{
    border-bottom: 1px solid gray;
    margin: 25px 0px;
}
.clear{
    font-size: 14px;
    background-color: var(--colorcode00ff);
    padding: 2px;
    color: var(--maincolorwhite);
    border-radius: 4px;
}
.clear i{
    color: var(--maincolorwhite);
}
.color-picker{
    display: flex;
    /* justify-content: space-between; */
}
.color-pick1{
    width: 40px;
    height: 40px;
    margin-right: 5px;
}
.pick-red{
    background-color: red;
}
.pick-blue{
    background-color: var(--colorcode00ff);
}
.pick-aqua{
    background-color: aqua;
}
.pick-orange{
    background-color: var(--colorcodede5);
}
/* ########################### Media-query ##################### */

@media screen and (max-width: 992px) {
    /* ##################### Logo Section ######################### */
    /* .container1{
        max-width: 900px;
        margin: auto;
    } */
    .logo-section1{
        background-color: var(--maincolorwhite);
    }
    .main-div{
        background-color: var(--colorcode00ff);
    }
    .sub-logo{
        padding: 5px;
        margin-top: 10px;
    }
    .sub-div i,a,.selected{
        color: var(--maincolorwhite);
    }
    .sub-logo-section{
        display: none;  
    }
    .sub-logo-section1{
        display: flex;
        justify-content: end; 
    }
    .logo-icons{
        width: 20%;
    }

    .detail-section1{
        display: none;
    }
}