*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: linear-gradient(120deg,#2980b9,#8e44ad);
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.contain{
    display: flex;
    width: 60%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22);
}
.container1{
    width: 50%;
    text-align: center;
    background: #fff;
}
.container2{
    width: 50%;
    text-align: center;
    /* background: rgb(230, 46, 46); */
    background: linear-gradient(120deg,#ff4b28,#ff228c);
    color: #fff;
}
.login{
    font-size: 35px;
    font-weight: bolder;
    margin: 10%;
}

.form{
    margin: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form{
    width: 100%;
}
input{
    background: lightgray;
    padding: 10px;
    width: 100%;
    border: #fff;
    border-radius: 25px;
    font-size: 100%;
    outline: none;
}

button{
    background: rgb(230, 46, 46);
    padding: 13px;
    border: #fff;
    border-radius: 15px;
    color: #ffff;
    width: 50%;
    cursor: pointer;
    font-size: 20px;
}
.forgot-text{
    font-size: 12px;
}
i{
    font-size: 30px;
    cursor: pointer;
    color:rebeccapurple
}

.main-txt{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.header-txt{
    font-size: 36px;
}

.social-media{
    margin-bottom: 50px;
}

@media (max-width:1200px) {
    /* button,input{
        width: 80%;
    } */
    /* .container{
        height: 100%;
    } */

}
@media (max-width:992px) {
    .contain{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .form{
        margin: 0;
    }
    form{
        width: 60%;
    }
    .container1,.container2{
        width: 80%;
    }
}

@media (max-width: 768px){
    .container1,.container2{
        width: 80%;
        margin: auto;
    }
}

@media (max-width: 576px){
    .container1,.container2,form{
        width: 80%;
        margin: auto;
    }
}
@media (max-width:400px){
    .login{
        margin-top: 100px;
    }
}
@media (max-width: 320px){
    /* .contain,.container1,.container2{
        width: 100%;
    } */
}

@media (max-width:150px){
    .header-txt,.login{
        font-size: small;
    }
}